.appContainer {
    margin: 112px auto;
    width: 80%;
    max-width: 1440px;
}

.navBarContainer {
    background-color: white;
    border-bottom: 1px solid grey;
    color: black;
    padding: 8px 10% 8px 10%;
}

.orderSection {
    margin-bottom: 18px;
}

.title {
    margin: 8px 0px;
    font-size: 24px;
    font-weight: bold;
    color: green;
}

.orderSection .box {
    border: solid 1px black;
    padding: 12px 96px 12px 18px;
}

.orderSection .row {
    flex-direction: row;
    display: flex;
}

.orderSection .row .name {
    width: 160px;
    padding-right: 18px;
    font-size: 16px;
    font-weight: bold;
}

.input {
    width: 100%;
    font-size: 16px;
    height: 80%;
    align-items: center;
}

.orderSection .flexRow {
    width: 100%;
    flex-direction: row;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.manageLocationModal {
    margin: 0px 12px;
}

.manageLocationModal .flexRow {
    flex-direction: row;
    display: flex;
}

.locationItem {
    margin: 8px 0px;
    padding: 12px 24px;
    border: 1px solid green;
    font-size: 18px;
}

.locationItem .name {
    font-weight: bold;
    flex-direction: row;
    display: flex;
}

.locationItem .name .sticker {
    background-color: black;
    color: white;
    padding: 4px 12px;
    margin-left: 12px;
    font-size: 12px;
    height: 90%;
}

.locationItem .address {
    margin-top: 4px;
}

.locationItem .phone {
    margin-top: 4px;
}

.locationItem .buttons {
    margin-top: 8px;
}

.basicButtonGreen {
    padding: 4px 24px;
    margin: 0px 24px 0px 0px;
    background-color: green;
    color: white;
    border: 0px;
    font-size: 18px;
}

.basicButtonWhite {
    padding: 4px 24px;
    margin: 0px 24px 0px 0px;
    background-color: white;
    color: green;
    border: 1px solid green;
    font-size: 18px;
}


.addLocationButton {
    width: 100%;
    margin-top: 8px;
    border: 1px solid black;
    background-color: white;
    color: green;
    font-weight: bold;
    font-size: 18px;
}

.saveLocationButton {
    width: 100%;
    margin-top: 8px;
    border: 1px solid black;
    background-color: green;
    color: white;
    font-weight: bold;
    font-size: 18px;
}

.basicButtonGreen:hover, basicButtonGreen:active, .saveLocationButton:hover, .saveLocationButton:active {
    background-color: green;
    opacity: 0.9;
}

.basicButtonWhite:hover, .addLocationButton:hover, .basicButtonWhite:active, .addLocationButton:active {
    background-color: #f5f5f5;
    border: 1px solid green;
    color: green;

    opacity: 0.9;
}

.newsContainer {
    display: grid;
    grid-template-columns: repeat(auto-fill, 330px);
    grid-gap: 24px;
}

.newsCard {
    border: 1px solid lightgrey;
    height: 300px;
}

.newsCardHeader {
    height: 50%;
    overflow: hidden;
}

.newsCardThumbnail {
    display: block;
    width: 100%;
    overflow: hidden;
}

.newsCardBody {
    height: 50%;
    padding: 12px;
}

.newsCard a:hover {
    text-decoration: none;
}

.newsCardTitle {
    font-size: 16px;
    color: black;
    height: 30%;

    text-overflow: ellipsis;
    white-space: nowrap;
    overflow: hidden;
}

.newsCardText {
    font-size: 12px;
    color: grey;
    height: 70%;

    overflow: hidden;
}

.label {
    margin-top: 24px;
    margin-bottom: 18px;
}

.description {
    color: grey;
    font-size: 16px;
}

.postList {
    border-top: 2px solid black;
    margin-top: 28px;
}

.postItem {
    background-color: white;

}

.postItem .header {
    background-color: white;
    font-size: 16px;
    font-weight: bold;

    flex-direction: row;
    display: flex;
}

.postItem .header .index {
    margin-right: 8%;
}

.postItem .body {
    font-size: 16px;
    border-bottom: 1px solid lightgrey;
}

.modalAdditionalButtons {
    flex-direction: row;
    display: flex;
    justify-content: space-between;
    margin-bottom: 24px;
}

.carousel {
    background-color: grey;
}

.carouselItem {
    width: 80%;
    height: 400px;
    margin: 0px auto;
    flex-direction: row;
    display: flex;
}

.carouselLeft {
    width: 60%;
    align-self: center;
    overflow: hidden;
}

.carouselImg {
    display: block;
    margin-left: auto;
    margin-right: auto;
}

.carouselRight {
    width: 40%;
    align-self: center;
    color: white;
}

@media (max-width: 767px) {
    .appContainer {
        margin: 96px auto;
        width: 100%;
        padding: 0 14px;
    }

    .navBarContainer {
        padding: 0px 12px;
    }

    .orderSection .row {
        flex-direction: column;
    }

    .orderSection .row .name {

    }

    .orderSection .box {
        padding: 12px;
    }

    .newsContainer {
        display: grid;
        grid-template-columns: repeat(1, 100%);
    }

}

